body
{
    background-color: rgb(243, 135, 34);
}
th
{
   color: chartreuse; 
}
tr
{
    color: yellow;
}
td
{
    background-color: red;

}
h1
{
    background-color: aqua;
    color: chartreuse;
    font-style: italic;
    font-weight: 800;
    font-smooth: revert;
}