
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body style="background-color: blue;">
    <h1>THIS IS DEPT TABLE </h1>
    <center >
        <h1>DEPARTMENT</h1>
        <table border="4px" style="box-shadow: 40px 25px yellow;">
            <tr>
            <h1 >
                <th style="color: chartreuse;">DEPTNO</th>
                <th style="color: chartreuse;">DNAME</th>
                <th style="color: chartreuse;">DLOC</th>
            </h1>
                {% for i in DEPTS %}
                <tr>
                    <td style="color: darkorchid;">{{i.DEPTNO }}</td>
                    <td style="color: crimson;">{{i.DNAME}}</td>
                    <td style="color: rgb(220, 255, 20);">{{i.DLOC }}</td>
                </tr>
                {% endfor %}
            </tr>
        </table>
    </center>
    
</body>
</html>